* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}

body {
    overflow-x: hidden;
  }

  .h11 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    position: absolute;
    top: 70px;
    left: 130px;
    font-weight: 500;
    
}

.attributes {
    color: black;
    font-size: 35px;
    margin-left: 2em;
    position: relative;
    left: 1020px;
    top: 75px;
    
}

.learnbutton {
    margin-left: 300px;
    font-size: 17px;
    position: absolute;
    border-style: line;
    border: solid;
    border-width: 0.1px;
    border-radius: 5px;
    border-color: gray;
    padding-right: 8em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: black;
    margin-top: 1px;
    border: solid;
    padding: 1rem;
    display: flex;
    border-width: 1px 5px 5px 1px;
    width: 500px;
    
}
.learnimage {
  position: absolute;
 margin-left: 555px;
 margin-top: 13px;
 width: 400px;
}
.hr1 {
    width: 345px;
    margin-top: 50px;
    position: absolute;
    
}

.hr2 {
    width: 995px;
    position: absolute;
    margin-top: 50px;
    margin-left: 990px;
}

.minimalism {
    font-family: 'Bacasime Antique', serif;
    letter-spacing: 6px;
    transform:rotate(90deg);
    transform-origin:left;  
    margin-left: 150px;
    margin-top: 200px;
    font-size:x-large;

}

.navigation {
    position: relative;
}

.navigation .navigation-items a{
    position: relative;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}


.navigation .navigation-items a:before{
    content: "";
    position: absolute;
    background: #000;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.navigation .navigation-items a:hover:before{
width: 100%;

}

h2 {
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-left: 300px;
    position: relative;
    top: 100px;
    
}

.WebDev {
    margin-left: 300px;
    font-size: 50px;
    margin-top: 100px;
}

.folder {
    margin-left: 1050px;
    margin-top: 100px;
    position: absolute;
    top: 100px;
    width: 600px;
}

.container {
    margin-left: 1000px;
 
    border: solid;
    padding: 2rem;
    position: absolute;
    display: flex;
    border-width: 1px 5px 5px 1px;
    width: 500px;

}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

.things {
    position: absolute;
    top: 1830px;
    font-size: 60px;
    font-weight: bolder;
   margin-left: 150px;
}

.container2 {
    margin-left: 1100px;
    margin-top: 200px;
    border: solid;
    padding: 2rem;
    display: flex;
    border-width: 1px 5px 5px 1px;
    width: 500px;

}

.pinimageshr {
    margin-top: 34rem;
}

.pintrestimages {
    display: flex;
    justify-content: space-between;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;

}
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #fff;
    border-top-color: #000;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}
